/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


h1  {
    margin: 0px 3px;
    height: 100%;
    font-family: "Arial", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(12, 170, 223);
}