
    <mat-tab-group color="white">
        <mat-tab label="Heroes">
            <ul class="heroes">
              <li *ngFor="let hero of heroes">
                <span class="badge">{{hero.id}}</span> {{hero.name}}
              </li>
            </ul>
        </mat-tab>
        <mat-tab label="Applications">
          <div *ngIf="isAddViewShown && !isEditViewShown && !isListViewShown">
          </div>
          <div *ngIf="!isAddViewShown && isEditViewShown && !isListViewShown">
          </div>
          <div *ngIf="!isAddViewShown && !isEditViewShown && isListViewShown">           
          </div>
        </mat-tab>
      </mat-tab-group>





