/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


div.container{
    margin: 0px 3px;
    height: 100%;
    font-family: "Segoe UI, Semibold";
    font-size: 12px;
    color: #5A5A5A;
}

.divfooter{
    background-color: #CECECE !important;
    align-content: center
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-family: "Segoe UI, Semibold";
    font-size: 12px;
    color: #5A5A5A;
}

.Copyright
{    
    font-family: "Segoe UI, Semibold";
    font-size: 12px;
    color: #5A5A5A;
}


.divnomarginbottom {
    margin-bottom: 0px;
}

.footermargin{
    float: left;
    text-align: center;
    margin-right: 10px;;
}

.div80 {
    height: 1000px;
}

.col-xs-header-15{
    height: 15%;
    width: 100%;
    background-color: white;
}

.col-xs-header-100{
    height: 100%;
    background-color: white;
}

.col-xs-header-60{
    height: 60%;
    background-color: white;
}

.col-xs-header-40{
    float: left;
    height: 40%;
    width: 100%;
    background-color: #007FA9;
    color: white;
}

.col-xs-header-33{
    width: 33.3333%;
    float: left;
    background-color:white;
    color: white;
    border: 2px;
    border-color: black;
}

.col-xs-header-20{
    width: 20%;
    float: left;
    background-color:white;
    color: white;
}

.col-xs-header-right-33{    
    float: right;
    text-align: right;
    background-color: white;
    color: #8A57BE;
    border: 2px;
    border-color: black;
}

.col-xs-left-80{
    height: 1000px;
    width: 100%;
    float: left;
    background-color:  white;    
}

.col-xs-left-35 {
    /* height: 35%; */
    height: 350px;
    /* background-color:deeppink; */
}

.col-xs-left-15 {
    /* height: 15%; */
    height: 180px;
    /* background-color:darkgray; */
}
.col-xs-left-10 {
    /* height: 10%; */
    height: 90px;
    /* background-color:darkgoldenrod; */
}

.col-xs-left-40 {
    /* height: 40%; */
    height: 360px;
    /* background-color:cyan; */
}

.col-xs-right-20{
    height: 1000px;
    width: 20%;
    float: right;
    background-color: #8A57BE;
}

.col-xs-right-10 {    
    font-family: "Segoe UI, Regular";
    font-size: 16px;
    background-color: WHITE;
    text-align: center;
    color :#343434;    
}
.mat-dialog-container, .mat-stepper-horizontal, .mat-stepper-vertical
{    
    font-size: 16px !important;
    background-color: WHITE !important;    
    color :#5A5A5A !important;    
}

.checkbox
{
    border-color: white !important;
    border: 2px thin white !important;    
    color: #fff;
}

.col-xs-right-90 {
    height: 975px;
    background-color: #8A57BE;
}

.col-xs-footer-15{
    clear: both;
    height: 8%;    
    width: 100%;
    background-color: white;
}

.col-applications-10 {
    height: 10%;
    width: 100%;
    background-color: white;
}

.col-applications-5 {
    height: 5%;
    width: 100%;
    background-color: white;
}

.col-applications-75 {
    height: 75%;
    width: 100%;
    background-color: white;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.normal-form{
    margin: 10px;
}

.controls-container{
    width: 100%;
    padding: 5%;
}

.controls-container-50{
    width: 50%;
    height: 10px;
    padding: 5px;
}

.controls-container-horizontal{
    width: 100%;
    padding: 1%; 
    height: 90px;   
}

.controls-container > * {
    width: 100%;
}

.controls-container-horizontal > * {
    width: 10%;
}

.fixed {
    position: fixed;
}

.standard-font {
    color: #8A57BE;
    font-size: 16px;
    font-family: Segoe UI, Semibold
}

.color-purple {
    color: #8A57BE;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

.mat-header-row{
    min-height: 30px;
}

.mat-row
{
    margin: 0px !important;
    padding:  0px !important;
    border:  0px !important;
    min-height: 40px !important;
}

.mat-icon-button
{
    margin: 0px !important;
    padding:  0px !important;
    border:  0px !important;
    min-height: 0px !important;
    display: block !important;
}

/* radio group */
 .mat-radio-group mat-radio-button{
    margin-left: 5px;
}

.button-row button, .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    margin: 5px;
    background-color: #F89D01;
    border: 0px;
    margin: 0px;
}

/* notification */
snack-bar-container.success {
    background-color: #8A57BE;
    color : #fff;
}

snack-bar-container.notification simple-snack-bar{
    font-size: 16px !important;
    font-weight: bold;
}

.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
}

/* filter controls */
.header-div{
    margin: 5px;
}

.search-form-field{
    width: 60%;
    margin-left: 10px;    
    background-color: #f5f5f5;
    border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 10px;
    margin-bottom: -1.25em;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #8A57BE;    
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple :not(.mat-radio-persistent-ripple).mat-ripple-element, .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple
{   
    background-color: #8A57BE; 
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{    
    background-color: #8A57BE;
}

:not(.mat-checkbox-disabled).mat-checkbox.mat-accent .mat-checkbox-ripple .mat-ripple-element
{    
    background-color: #8A57BE;
}

.mat-header-cell
{
    color: #8A57BE;    
    font-size: 16px;
    font-family: Segoe UI, Semibold;
    /* display:flex;
    justify-content:center;     */
}

.mat-row:nth-child(even){
    background-color: #F4F4F4;
    }

.mat-row:nth-child(odd){
    background-color:white;
    }

.button-color-blueviolet
{
    background: #8A57BE ;    
    color: white;
    font-size: 14px;    
    margin-left: 10px !important;
}

.mat-raised-button
{    
    font-size: 14px;
    margin-left: 10px;
}

.button-color-gray{
    background: #CECECE;    
    color: black;
    font-size: 14px;
    margin-left: 10px !important;
}

.button-right{
    margin-left: 10px !important;
    text-align: right;  
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell
{
    border-bottom-style: none !important;
    display:flex;
   justify-content:center;
}

.mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused, .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused, .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused, .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused, .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused, .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused, .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused, .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused
{
    background-color: blueviolet;
}

#mat-table-Batch
{
    display: block;
    height: 200px;
    overflow-y: scroll;
}

.mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-form-field--inline .mat-form-field {
    width: 100%;
    vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 10px;
}

.mat-elevation-z8
{
    box-shadow: none !important;
}

.user {
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;    
    border-color: #8A57BE;
    object-fit: cover;
}

.mat-datepicker-toggle{
    display: block !important;
}

.mat-form-field-flex
{
    align-items: unset !important;
    padding: 0px;
    margin: 0px;
}
.mat-hint{
    height: 0px;
}
.person-search-bar .mat-form-field-wrapper {
    padding-bottom: 0;
 }
 
.person-search-bar .mat-form-field-underline{
    bottom: 0;
}

.create-person-radio-label {
    margin-top: 10px;
}

.create-person-radio-group {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}
  
.create-person-radio-button {
    margin: 10px;
}
 